/.Xauthority
/.bash_history
/.bash_logout
/.cache
/.conda
/.config
/.emacs
/.gissjava
/.history
/.java
/.lesshst
/.local
/.mozilla
/.pki
/.python_history
/.ssh
/.subversion
/.vim
/.viminfo
/.vimrc
/.vscode-server
/.DomainWizard.cfg
/.ipython
/.pyxbld
/DomainWizardMap.jpg
/analysis
/git
/guide
/ompi-master
/ompi-master.zip
/panoply.zip
/perl5
/setting
/vqg.txt
/wrf
/def_stage-wdm6
/download
/temporary
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90
*.npy
*.png
python/distribution/LAMBDA_WSM6.npy
python/distribution/LAMBDA_WSM7.npy